<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4 class="text-center">Modificar la receta</h4>
            <form action="/admin/recipes/modificar" enctype="multipart/form-data" method="post">
                <input type="hidden" name="id" value="{{recipe.id}}" />
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Título" value="{{recipe.title}}" />
                </div>
                <div class="mb-3 row">
                    <textarea class="form-control" id="description" name="description" placeholder="Descripción" rows="10">  {{recipe.description}}</textarea>
                </div>
                <div class="mb-3 row">
                    <p>
                        <label for="imagen" class="form-label">Imagen</label>
                        <input type="file" class="form-control" id="imagen" name="imagen" />
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1" /> ¿Eliminar imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{recipe.img_id}}" />
                    </p>
                </div>
                
                <input type="submit" class="btn btn-primary" value="Modificar" />
                <a href="/admin/recipes" class="btn btn-secondary">Cancelar</a>
            </form>
            {{#if error}}
            <div class="alert alert-danger mt-3" role="alert">
                {{message}}
            </div>
            {{/if}}
        </div>
    </div>
</div>