<div class="container flex-grow-1 pt-4">
  {{! fila 1 }}
  <div class="row">
    <div class="col mb-4">
      <p class="text-end h4">Hola
        {{usuario}}!
        <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión
          <i class="fas fa-sign-out-alt"></i></a></p>
    </div>
  </div>
  {{!fin de fila 1 }}
  {{! fila 2 }}
  <div class="row">
    <div class="col-7 mb-2">
      <h1>Recetas</h1>
    </div>
    <div class="col-5 text-end">
      <a href="/admin/recipes/agregar" class="btn btn-success"><i
          class="fa fa-plus"
        ></i>
        Nuevo</a>
    </div>
  </div>
  {{!fin de fila 2 }}
  {{! fila 3 }}
  <div class="row">
    <div class="col">
        <div class="row recipes">
        {{#each recipes}}

            <div class="recipe">
            <div class="recipe_img">
                {{{imagen}}}
            </div>
            <div class="recipe_body">
                <h3>{{title}}</h3>
                <p>{{description}}</p>
            </div>
            <div class="actions">
                <a href="/admin/recipes/modificar/{{id}}" class="btn btn-primary"><i
                    class="fa fa-edit"
                ></i></a>
                <a href="/admin/recipes/eliminar/{{id}}" class="btn btn-danger"><i
                    class="fa fa-trash"
                ></i></a>
            </div>
            </div>
        {{/each}}
    </div>
  </div>
</div>